/** Algolia Results **/
ul.ais-Hits-list {
  list-style-type: none;
}
ul.ais-Hits-list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  li.ais-Hits-item {
    .actors {
      //display: none;
    }
    img {
      border-top-left-radius: var(--bs-card-inner-border-radius);
      border-top-right-radius: var(--bs-card-inner-border-radius);
      width: 100%;
    }
    .card-details.d-flex {
      display: block !important;
    }
  }
}

/** Algolia Facets **/
ul.ais-RefinementList-list {
  list-style-type: none;
  margin-left: -40px;
}

span.ais-RefinementList-labelText {
  margin-left: 10px;
}

span.ais-RefinementList-count {
  background-color: #ddd;
  color: #757175;
  padding: 5px;
  border-radius: 10px;
  font-size: 11px;
}

/*** Search box styling ***/
.ais-SearchBox {
  position: relative;
  background-color: #ebeff2;
  border-radius: .2rem;
}
.ais-SearchBox-input {
  width: 100%;
  padding: 10px 0 10px 40px;
  color: #102d40;
  border: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #102d40;
  background-color: #ebeff2;
  background-clip: padding-box;
  border: 1px solid #ebeff2;
  border-radius: .2rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    color: #102d40;
    background-color: #ebeff2;
    border-color: #a5c4d8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(77,137,177,.25);
  }
}

.ais-SearchBos {
  form {
    &:focus {
      outline: 1px;
      outline-color: rgb(0, 95, 204);
    }
  }

}

.ais-SearchBox-submit {
  border: none;
  position: absolute;
  left: 10px;
  top: 8px;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.ais-SearchBox-submitIcon {
  width: 15px;
  height: 15px;
  fill: #495359;
}
.ais-SearchBox-reset {
  display: none;
}

/** Modal **/
.modal-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000; 
  background-color: rgba(0,0,0,0.4);
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .btn-close {
    width: 30px !important;
  }
}
.modal-form.opened {
  display: block;
}

/** Algolia Pagination **/
.ais-Pagination {
  ul.ais-Pagination-list {
    text-align: center;
    list-style: none;
    li.ais-Pagination-item {
      display: inline-block;
      a.ais-Pagination-link {
        display: inline-block;
        padding: 5px 14px;
        border: 1px solid #ddd;
        text-decoration: none;
      }
      a[aria-label="First"]:after {
        padding-left: 4px;
      }
      a[aria-label="Previous"]:after {
        padding-left: 4px;
      }
      a[aria-label="Next"]:before {
        padding-right: 4px;
      }
      a[aria-label="Last"]:before {
        padding-right: 4px;
      }
    }
    li.ais-pagination--item__active {
      font-weight: bold;
    }
    li.ais-Pagination-item--disabled {
      display: none;
    }
    li.ais-Pagination-item--selected {
      a.ais-Pagination-link {
        z-index: 3;
        color: #fff;
        background-color: #4D89B1;
        border-color: #4D89B1;
      }
    }
  }
}